<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Uploader</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">PDF Uploader</h1>
      <form id="uploadForm">
        <div class="custom-file mb-3">
          <input
            type="file"
            class="custom-file-input"
            id="pdfFile"
            multiple
            accept=".pdf"
            required
          />
          <label class="custom-file-label" for="pdfFile">Choose PDF file</label>
        </div>
        <button type="submit" class="btn btn-primary">Upload PDF</button>
      </form>

      <div class="my-3 d-none" id="fileDisplayerContainer">
        <strong>Selected Files:</strong>
        <div id="selectedFiles" class="bg-light p-2 rounded"></div>
      </div>

      <div id="loadingSpinner" class="d-none mt-4">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <span class="ml-2">Uploading...</span>
      </div>
      <div id="successMessage" class="d-none mt-4">
        <div class="alert alert-success" role="alert">
          PDF uploaded successfully!
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script defer>
      document.getElementById("pdfFile").addEventListener("change", (e) => {
        console.log(e.target);
        const files = e.target.files;
        console.log(files);
        let filenames = "No files selected";
        if (files.length > 0) {
          filenames = "";
          for (let i = 0; i < files.length; i++) {
            if (i > 0) filenames += "\n";
            filenames += files[i].name;
          }
        }

        const container = document.getElementById("fileDisplayerContainer");
        const fileDisplayer = document.getElementById("selectedFiles");
        container.classList.remove("d-none");
        fileDisplayer.innerText = filenames;
      });

      document
        .getElementById("uploadForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          const formData = new FormData();
          const files = document.getElementById("pdfFile").files;
          console.log(files);
          for (let i = 0; i < files.length; i++) {
            console.log(files[i]);
            formData.append("pdfFiles", files[i]);
          }

          document.getElementById("loadingSpinner").classList.remove("d-none");
          document.getElementById("successMessage").classList.add("d-none");
          uploadPDF(formData);
        });

      // Function to upload the PDF using Fetch API
      function uploadPDF(formData) {
        fetch("/upload", {
          method: "POST",
          body: formData,
        })
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            document.getElementById("loadingSpinner").classList.add("d-none");
            document
              .getElementById("successMessage")
              .classList.remove("d-none");

            const link = document.createElement("a");
            link.classList.add("btn", "btn-primary");
            link.innerText = "Go to question page";
            link.href = "/question";

            document.querySelector(".container.mt-5").appendChild(link);
          })
          .catch(function (error) {
            console.error("Error uploading PDF:", error);
            alert("Error uploading PDF.");
            document.getElementById("loadingSpinner").classList.add("d-none");
          });
      }
    </script>
  </body>
</html>
